source https://www.nuget.org/api/v2

nuget Expecto >= 9.0
nuget FSharp.Core >= 4.0
nuget Giraffe 5.0.0-rc-6 prerelease
nuget Microsoft.NET.Test.Sdk >= 16.0
nuget Ply >= 0.3.0
nuget YoloDev.Expecto.TestSdk